body {

  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff ;
}

a{
  text-decoration: none;
}

/* ___H___E___A___D___E___R___*/

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}
.header-top a {
  color: #ffffff;
}

.header-item:hover,
.header-item:focus
{
  background-color: #212a3a;
}

.header-item:active {
    background-color: #161d29;
}

.header-logo {
  background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
}
.header-logo:active {
  background-color: #ba2732;
}


.bookmarks:active,
.basket:active {
  background-color: #161d29;
  opacity: 0.6;
}

.order {
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
  opacity: 0.5;
}

.search:focus {
  background-color: #ffffff;

}

.header-bottom {
  background-color: #f4f7f9;
}
.header-bottom h1 {
  font-family: "Gill Sans"
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-phone {
  font-family: "Gill Sans";
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-style: italic;
  font-weight: 600;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-family: "Gill Sans";
  font-weight: 600;
  font-style: italic;
}

.user-navigation {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
}

.user-navigation a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 0.5;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

}
.main-navigation a {
  color: #ffffff;

}
.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.main-navigation li {
  list-style: none;
  display: inline;
}

/*___M___A___I___N___*/
.main {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;

}

.transport-companies li {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.about-company a,
.about-contacts-link {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
}

/*___F___O___T___E___R___*/

.footer-top {
  background-color: #32425c;
}

.footer-navigation {
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts {
  color: #f3f7f9;
}

.main-footer-navigation,
.secondary-footer-navigation {
  list-style: none;
}

.main-footer-navigation li,
.secondary-footer-navigation li {
  display: inline;
}

.main-footer-navigation a {
  color: #ffffff;
}
.secondary-footer-navigation a {
  color: #ffd180;
}

.main-footer-navigation a:hover,
.secondary-footer-navigation a:hover,
.main-footer-navigation a:focus,
.secondary-footer-navigation a:focus
 {
  text-decoration: underline;

}

.main-footer-navigation a:active,
.secondary-footer-navigation a:active {
  opacity: 0.5;

}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-social li {
  list-style: none;
  display: inline;

}

.button {
  color: #ffd180;
}

.button:hover,
.button:focus {
  text-decoration: underline;
}

.button:active {
  color: #ee3643;
}


/*___C___A___T___A___L___O___G*/
/*___C___A___T___A___L___O___G*/
/*___C___A___T___A___L___O___G*/


/* ___H___E___A___D___E___R___*/
.basket-not-empty {
  background-color: #ee3643;
}
/*???????????*/


.username-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.username-link:active {
  opacity: 0.3;
}

.user-navigation_catalog li {
  list-style-type: none;
}
.user-navigation_catalog  a{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;


}

.user-navigation_catalog a:hover,
.user-navigation_catalog a:focus {
  color: #ee3643;
}

.user-navigation_catalog a:active {
  color: #32425c;
  opacity: 0.3;
}
